<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.toplion.cplusschool"
    android:versionCode="1"
    android:versionName="2.1.0">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态改变的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 读入SDCard -->
    <uses-permission android:name="android.permission.MOUNT_UNM0OUNT_FILESYSTEMS" />
    <!-- Read -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 获取WIFI信息状态的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写入通讯录权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.toplion.cplusschool.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!--推送 start-->
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.toplion.cplusschool.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 推送end -->

    <!--高德地图-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 写入日历权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name="com.toplion.cplusschool.Utils.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/c_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="fa74532911dd97d2d2a1b39fe8e37167" />

        <activity
            android:name=".Activity.AppStartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoWall.PhotoMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <!-- 推送测试程序 start-->
        <!-- For test only 测试高级功能 -->
        <activity
            android:name="com.toplion.cplusschool.Jpush.PushSetActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <!-- For test only 测试设置 -->
        <activity
            android:name="com.toplion.cplusschool.Jpush.SettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <!-- For test only 测试状态通知栏，需要打开的Activity -->
        <activity
            android:name=".Jpush.NoticeActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="jpush.testAction" />
                <category android:name="jpush.testCategory" />
            </intent-filter>
        </activity>
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"></activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.toplion.cplusschool" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.toplion.cplusschool" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.toplion.cplusschool" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.toplion.cplusschool.Jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.toplion.cplusschool" />
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="d5d3695cf34f3cf7933444ef" /> <!--  </>值来自开发者平台取得的AppKey-->

        <!-- 推送测试程序 end-->
        <!-- 启动页 -->
        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56d3a241e0f55aec42001beb"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="CPLUS" />
        <!-- 主页面 -->
        <activity
            android:name=".Activity.MainFrameActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name=".Activity.MainTabActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>

        <activity
            android:name=".Activity.EportalTestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <!-- 注册 -->
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <!-- 登录 -->
        <activity
            android:name="com.toplion.cplusschool.Activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <!-- 旋转logo -->
        <activity
            android:name="com.toplion.cplusschool.Activity.ScrollActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <!-- 套餐选择 -->
        <activity
            android:name="com.toplion.cplusschool.Activity.MealsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <!-- 确认订单 -->
        <activity
            android:name=".Activity.PayOrderActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <!-- 微信支付配置 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx19cb13813aa97855" />
            </intent-filter>
        </activity>
        <!-- 我的订单 -->
        <activity
            android:name="com.toplion.cplusschool.Activity.MyOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <!-- 保修常见问题及解决方案 -->
        <activity
            android:name=".Activity.RepairQuestionListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <!-- 保修常见问题及解决方案 -详情-->
        <activity
            android:name="com.toplion.cplusschool.Activity.RepairQuestionDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <!-- 新建报修 -->
        <activity
            android:name=".Activity.AddRepairActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <!-- 填写报修人信息 -->
        <activity
            android:name="com.toplion.cplusschool.Activity.RepairPersonInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <!-- 确认报修信息 -->
        <activity
            android:name="com.toplion.cplusschool.Activity.RepairDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <!-- 订单详情 -->
        <activity
            android:name="com.toplion.cplusschool.Activity.MyOrderDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <!-- 使用帮助 -->
        <activity
            android:name="com.toplion.cplusschool.Activity.UseHelpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <!-- 关于本软件 -->
        <activity
            android:name="com.toplion.cplusschool.Activity.AboutSoftActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <!-- 购买协议 -->
        <activity
            android:name="com.toplion.cplusschool.Activity.AgreementActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.toplion.cplusschool.Activity.HelpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <!-- 新闻 -->
        <activity
            android:name="com.toplion.cplusschool.Activity.NewsListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name="com.toplion.cplusschool.Activity.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 微信支付   begin -->
        <activity
            android:name="com.toplion.cplusschool.Activity.WXPayActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <!-- 微信支付配置 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx19cb13813aa97855" />
            </intent-filter>
        </activity>
        <!-- 微信支付注册 -->
        <receiver android:name="com.toplion.cplusschool.wxutils.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- 微信支付完成后的回调 -->
        <activity
            android:name="com.toplion.cplusschool.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 微信支付   end -->

        <!-- 课程表-->

        <activity
            android:name="com.toplion.cplusschool.Activity.WeekListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="com.toplion.cplusschool.Activity.DayListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <!-- 教学楼列表 -->
        <activity
            android:name=".Activity.FloorListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <!-- 空教室 -->
        <activity
            android:name=".Activity.EmptyClassRoomActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <!-- 考试安排 -->
        <activity
            android:name=".Activity.TestListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <!-- 查询成绩 -->
        <activity
            android:name=".Activity.GradeListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <!-- 修改密码-->
        <activity
            android:name="com.toplion.cplusschool.Activity.UpdatePwdActivity"
            android:screenOrientation="portrait" />
        <!-- 我的报修 -->
        <activity
            android:name=".Activity.MyRepairListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 校车时刻表 -->
        <activity
            android:name=".Activity.CommonWebViewActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 办公电话部门列表-->
        <activity
            android:name=".Activity.PhoneBooksActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 通讯录 - 部门电话列表-->
        <activity
            android:name=".Activity.PhoneDetailListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 通讯录 - 部门电话列表 搜索界面-->
        <activity
            android:name=".Activity.SearchePhoneActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 部门电话详情 -->
        <activity
            android:name=".Activity.PhoneDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 一卡通查询 -->
        <activity
            android:name=".Activity.OneCardPassActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 高德地图加载-->
        <activity
            android:name="com.toplion.cplusschool.Map.LocationSourceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.toplion.cplusschool.Map.WeatherSearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService"></service>
        <!-- 通讯录 -->
        <activity
            android:name=".Activity.ContactsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 班级通讯录 -->
        <activity
            android:name=".Activity.ContactsDetailListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 通讯录模糊查询 -->
        <activity
            android:name=".Activity.ContactsSearcheActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 通讯录详情 -->
        <activity
            android:name=".Activity.ContactsDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 报销主页 -->
        <activity
            android:name=".Reimburse.BaomainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 报销页面 -->
        <activity
            android:name=".Reimburse.BaotypeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Reimburse.MyBaoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Reimburse.TypeListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Reimburse.ReimbursementDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Reimburse.ReimbursementOrderTimeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Reimburse.BaoTimeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 考拉接入-->
        <activity
            android:name=".Wangyi.KaoLaActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 慕课接入-->
        <activity
            android:name=".Wangyi.MukeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Wangyi.MukeHTML"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--水花墙-->
        <activity
            android:name=".SerchFly.SearchFlyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  绑定账号  -->
        <activity
            android:name=".Wage.Bound"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!--  选择界面  -->
        <activity
            android:name=".Wage.SelectTypeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  工资查询  -->
        <activity
            android:name=".Wage.WagesDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  公积金查询  -->
        <activity
            android:name=".Wage.GongActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  校历校车服务  -->
        <activity
            android:name=".Activity.SchoolBusActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  信息公告发布  -->
        <activity
            android:name=".SendMessage.MessageContent"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".SendMessage.MessageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  办事指南  -->
        <activity
            android:name=".Activity.BanshiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  意见反馈  -->
        <activity
            android:name=".Activity.FeekBackActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  周会议列表  -->
        <activity
            android:name=".WeekMeeting.WeekMeetingListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  周会议详情 -->
        <activity
            android:name=".WeekMeeting.WeekMeetingDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  重点工作监控 -->
        <activity
            android:name=".JianKong.KongContent"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".JianKong.KongMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 教职工通讯录新版 -->
        <activity
            android:name=".TeacherContacts.TeaContactsListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 教职工通讯录搜索-->
        <activity
            android:name=".TeacherContacts.ContactsTeaSearcheActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  教职工详情  -->
        <activity
            android:name=".TeacherContacts.ContactsTeaDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  教职工详情  -->
        <activity
            android:name=".TeacherContacts.TeaContactsDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 预约报销选择时间界面 -->
        <activity
            android:name=".Reimburse.SelectTimeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".SecondMarket.MainMarket"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".SecondMarket.ReleaseActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".SecondMarket.MarketContent"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".SecondMarket.MyMarket"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".SecondMarket.MarketSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name=".Activity.PersonInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <activity
            android:name=".QianDao.QianDaoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".QianDao.FlowerRankListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <activity
            android:name=".QianDao.MyReleaseActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <activity
            android:name=".PhotoBrowser.photo.ImagePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name=".Wangyi.MukeWebview"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Activity.ModifyUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".PhotoWall.PhotoReleaseActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".PhotoWall.selectphoto.SelectPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
    </application>
    <!-- 屏幕自适应 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

</manifest>